#navbar{
    position: fixed;
    top:0%;
    left:0%;
    width:350px;
    height: 100%;
    display:block;
}
main{
    margin-left: 380px;
}

@media screen and (max-width: 480px) {
    main{
        margin-left: 0px;
    }
    #navbar{
        position:unset;
        top:0%;
        left:0%;
        width:100%;
        display:block;
    }
  }